<template>
  <div>
    <div class="bread-crumbs">
      <div v-if="isStarted">
        <button v-if="prevView" @click="goBack">
          <span>{{ shortName(prevView[0].template.short_name) }}</span>
          <span class="arrow">&#10095;</span>
        </button>
        <h3 v-if="!scoreVisible">{{ shortName(selectedItem[0].template.short_name) }}</h3>
        <h3 v-if="scoreVisible">Score</h3>
      </div>
    </div>
    <ul class="flow-list" v-if="isStarted">
      <transition name="flowslides" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-leave="afterLeave" v-bind:css="false">
        <li class="flow-item copy-holder" v-if="slideClicked == true && !scoreVisible">
          <Question :question-item="prevView[0]" :selected-id="selectedId" @clicked="onSelectAnswer" v-if="prevView"></Question>
        </li>
      </transition>
      <transition name="flowslides" v-on:before-enter="scoreBeforeEnter" v-on:enter="scoreEnter" v-on:after-leave="afterLeave" v-bind:css="false">
        <li class="flow-item score-holder" v-if="slideClicked == true && scoreVisible">
          <div class="score-header">
            <h2>Score</h2>
            <div class="score-badge">
              <span>8</span>
            </div>
            <div class="score-note">
              <span>Large vessel occlusion probability: ~30%</span>
            </div>
          </div>
          <div class="score-body">
            <p class="score-desc">
              The assessment indicates that the patient should be taken to the closest stroke center.
            </p>
            <input type="button" :value="$t('LIST_THE_CLOSEST_CENTERS')">
          </div>
        </li>
      </transition>
      <li class="flow-item main-view-holder" v-if="selectedItem" :class="">
        <Question :question-item="selectedItem[0]" :selected-id="selectedId" @clicked="onSelectAnswer"></Question>
      </li>
    </ul>
    <div class="quiz-cover" v-if="!isStarted">
      <h2>{{flowName}}</h2>
      <button type="button" class="start-button" @click="isStarted = true" :disabled="isStarted == true || !flow">
        <span>{{ $t('START') }}</span>
      </button>
    </div>
  </div>
</template>

<script>
  var direction, newprev, availableLocales;
  import Question from './Question';
  export default {
    name: 'Flow',
    components: {
      Question
    },
    data() {
      return {
        flow: null,
        flow_template: null,
        isStarted: false,
        scoreVisible: null,
        prevView: null,
        nextView: null,
        selected: null,
        slideClicked: null,
        history: [],
        answerHistory: [],
        selectedId: null
      }
    },
    created: function() {
      var vm = this
      vm.launchQuiz()
    },
    methods: {
      launchQuiz: function(){
        var vm = this
        vm.flow = null
        vm.flow_template = null
        vm.selected = null
        vm.prevView = null
        vm.scoreVisible = null
        vm.slideClicked = null
        vm.history = []
        vm.answerHistory = []

        var flow_url = "https://fasted.allm.net/v3/flows/" + vm.$route.params.flow_id
        vm.$http.get(flow_url).then(function(response) {
          vm.flow_template = response.body
        }, function(response) {
          // error callback
        });

        var url = "https://fasted.allm.net/v3/flows/" + vm.$route.params.flow_id + "/questions?locale=en"
        vm.$http.get(url).then(function(response) {
          vm.flow = response.body;
          vm.selected = vm.flow[0].id
        }, function(response) {
          // error callback
        });
      },
      checkByQuestionId: function(id){
        var vm = this
        return vm.answerHistory.filter(function(item) {
          return item.questionId == id
        })
      },
      updateQuestionById: function(id, answer){
        var vm = this
        return vm.answerHistory.find(function(item) {
          return item.questionId == id
        })
      },
      onSelectAnswer(value, answerId, field, answer) {
        var vm = this
        if (value != null) {

          vm.history.push(vm.selectedItem)
          vm.prevView = vm.selectedItem

          var val = {'questionId' : vm.prevView[0].id, 'answerId' : answerId, 'answer' : answer}
          vm.selectedId = val.answerId
          var x = vm.checkByQuestionId(vm.prevView[0].id)

          if (!x.length) {
            vm.answerHistory.push(val)
          } else {
            var i = vm.updateQuestionById(x[0].questionId, answerId)
            i.answerId = answerId
          }

          console.log(vm.history)
          console.log(vm.answerHistory)

          vm.selected = value
          direction = '-100%'
          vm.slideClicked = true

        }else{
          vm.history.push(vm.selectedItem)
          vm.prevView = vm.selectedItem
          var val = {'questionId' : vm.selectedItem[0].id, 'answerId' : answerId, 'answer' : answer}
          vm.selectedId = val.answerId
          var x = vm.checkByQuestionId(vm.selectedItem[0].id)
          if (!x.length) {
            vm.answerHistory.push(val)
          } else {
            var i = vm.updateQuestionById(x[0].questionId, answerId)
            i.answerId = answerId
          }
          vm.slideClicked = true
          direction = '0'
          vm.computeForScore()
        }
      },
      goBack: function() {
        var vm = this
        vm.prevView = vm.selectedItem
        var last = vm.history.pop()

        vm.selected = last[0].id
        direction = '100%'
        vm.slideClicked = true
        var ans = vm.checkByQuestionId(vm.selected)
        vm.selectedId = ans[0].answerId

        vm.scoreVisible = null
        console.log(vm.scoreVisible)
      },
      beforeEnter: function (el) {
        var vm = this
        el.style.opacity = 1
        el.style.zIndex = 5
      },
      enter: function (el, done) {
        var vm = this
        Velocity(el,
          { translateX: direction, opacity: 1 },
          { duration: 300,
            complete: function () {
            vm.slideClicked = false
          }
        })
      },
      scoreBeforeEnter: function (el) {
        el.style.opacity = 1
        el.style.zIndex = 5
        el.style.position = "absolute"
        el.style.left = 100 + "%"
      },
      scoreEnter: function (el, done) {
        Velocity(el,
          { left: 0, opacity: 1 },
          { duration: 300,
            complete: function () {
          }
        })
      },
      afterLeave: function (el, done) {
        var vm = this
        Velocity(el,
          { translateX: '0%', opacity: 0, zIndex: 0},
          { duration: 0, complete: function () {
            if (direction == "100%") {
              newprev = vm.history[vm.history.length - 1];
              vm.prevView = newprev
            } else {
              var x = vm.checkByQuestionId(vm.selectedItem[0].id)
              if (x.length) {
                vm.selectedId = x[0].answerId
              }
            }
          }
        })
      },
      shortName: function (text) {
        var str = text
        var replaced = str.split('_').join(' ')
        return replaced
      },
      computeForScore: function () {
        var vm = this
        vm.scoreVisible = true
      }
    },
    computed: {
      selectedItem: function() {
        var vm = this
        if (vm.selected) {
          return vm.flow.filter(function(item) {
            return vm.selected == item.id
          })
        }
      },
      flowName: function() {
        var vm = this
        if (vm.flow_template) {
          return vm.flow_template.name
        }
      }
    },
    watch: {
      $route: function() {
        var vm = this
        vm.launchQuiz();
      },
      flow: function() {
        var vm = this
        vm.isStarted = false
      }
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  $start-button-size: 150px;

  .quiz-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 90px);

    h2 {
      background-color: $fed-purple-gray;
      color: #fff;
      position: absolute;
      width: 100%;
      min-width: 100%;
      text-align: center;
      top: 0px;
      margin: 0px;
      padding: 20px;
    }
  }

  .start-button {
    -webkit-justify-content: space-around;
    height: $start-button-size;
    width: $start-button-size;
    border-radius: $start-button-size;
    background-color: $fed-red;
    position: relative;
    border: 2px solid $fed-purple-gray;
    padding: 0px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:after {
      content: "";
      width: ($start-button-size)-20;
      height: ($start-button-size)-20;
      border-radius: $start-button-size;
      position: absolute;
      left: ($start-button-size/2)-2;
      top: ($start-button-size/2)-2;
      margin-top: -(($start-button-size)-20)/2;
      margin-left: -(($start-button-size)-20)/2;
      background-color: #C14343;
      z-index: 5;
    }

    span {
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: 'Oswald', sans-serif, 'Mplus 1p';
      position: absolute;
      font-size: 36px;
      color: #fff;
      width: 100%;
      z-index: 10;
      height: $start-button-size;
      line-height: $start-button-size;
    }

    &:hover {
      cursor: pointer;
      background-color: #C14343;

      &:after {
        background-color: #AA3E3E;
      }
    }

    &:active {
      @include box-shadow(inset, 0, 0, 10px, #000000);

      &:after {
        @include transition(all .25s ease-in-out);
        opacity: 0.5;
        width: $start-button-size;
        height: $start-button-size;
        top: 0;
        left: 0;
        margin-top: 0px;
        margin-left: 0px;
      }
    }

    &:disabled {
      opacity: 0.5;
    }
  }
  .flow-list {
    margin: 0px 0px 0px;
    min-width: 100%;

    .flow-item {
      position: absolute;
      background: #fff;
      min-width: 100%;
      height: calc(100% - 40px);
      overflow-y: scroll;
    }
  }

  .copy-holder {
    @include box-shadow(-3px, 1px, 15px, rgba(87, 78, 78, 0.2));
  }

  .score-holder {
    .score-header {
      background-color: $fed-purple-gray;
      overflow: hidden;

      h2 {
        color: #fff;
        text-align: center;
        margin: 15px 0px 10px;
      }

      .score-badge {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: $fed-red;
        margin: 0 auto 15px;
        position: relative;
        text-align: center;

        &:after {
          content: "";
          position: absolute;
          border-bottom-right-radius: 200px;
          border-top-right-radius: 200px;
          background-color: #C14343;
          display: block;
          width: 50px;
          height: 100px;
          top: 0px;
          right: 0px;
        }

        span {
          font-family: 'Oswald', sans-serif, 'Mplus 1p';
          font-size: 48px;
          display: block;
          position: absolute;
          z-index: 1;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          color: #fff;
          line-height: 100px;
        }
      }

      .score-note {
        background-color: $fed-dark-purple;
        text-align: center;

        span {
          color: #fff;
          font-size: 14px;
          padding: 10px;
          width: 100%;
          display: inline-block;
        }
      }
    }

    .score-body {
      text-align: center;

      .score-desc {
        padding: 30px 15px;
        font-weight: 300px;
        font-size: 14px;
      }

      input[type=button] {
        margin-top: 15px;
        border: 0.5px solid $fed-blue-gray;
        background: $fed-blue-gray;
        color: #fff;
        height: 40px;
        width: 80%;
        display: inline-block;
        font-weight: 700;
      }
    }
  }

  .bread-crumbs {
    height: 40px;
    position: relative;

    div {
      padding: 0px 15px;
      line-height: 40px;
      position: fixed;
      top: 50px;
      z-index: 15;
      background: #FFF;
      border-bottom: 1px solid #E7EBF3;
      width: 100vw;

      button {
        text-decoration: none;
        display: inline-block;
        color: #D84848;
        font-size: 12px;
        float: left;
        border: 0px;
        background: transparent;
        height: 40px;

        &:hover {
          cursor: pointer;
        }

        &:first-letter {
          text-transform: uppercase;
        }

        .arrow {
          padding: 0px 5px;
          display: inline-block;
        }
      }

      h3 {
        font-family: 'Raleway', sans-serif, 'Mplus 1p';
        margin: 0px 2px;
        padding: 0px;
        height: 40px;
        display: block;
        float: left;
        font-size: 12px;
        font-weight: 600;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
</style>