<template @clicked="setThis">
  <div>
    <div class="home-cover">
      <h2>Fast-ED</h2>
      <img src="../assets/images/Fast-ED_icon.png" alt="very cool bg" class="fold-img">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    components: {
    },
    data() {
      return {
      }
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  $start-button-size: 150px;

  .home-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 90px);

    h2 {
      background-color: $fed-purple-gray;
      color: #fff;
      position: absolute;
      width: 100%;
      min-width: 100%;
      text-align: center;
      top: 0px;
      margin: 0px;
      padding: 20px;
    }

    img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 200px;
    }
  }
</style>