<template>
  <div class="main-menu" v-bind:class="{ 'menu-active' : isActive }">
    <input type="checkbox" id="drawer-toggle" v-model="isActive"/>
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <div class="main-bar">
    </div>
    <div id="drawer">
      <ul class="menu-list">
        <li>
          <h2>{{ $t('FLOWS') }}</h2>
          <ul>
            <!-- @click="launchQuiz(flow.id, $locale.current())" -->
            <li v-for="flow in flows" @click="isActive = !isActive">
               <router-link :to="'/flow/' + flow.id" :available-locales="flow.locales" :flow-name="flow.name">{{ flow.name }}</router-link>
            </li>
          </ul>
        </li>
      </ul>
      <Settings></settings>
    </div>
  </div>
</template>

<script>
  import Settings from './Settings'
  var isActive, flows;
  export default {
    name: 'main_menu',
    components: {
      Settings
    },
    data () {
    return {
      flows: null,
      isActive: false
      }
    },
    created: function () {
      this.$http.get('https://fasted.allm.net/v3/flows').then(function(response) {
        this.flows = response.body;
      }, function(response) {

      });
    },
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  .main-bar {
    width: 100%;
    height: 50px;
    background-color: #D84848;
    position: fixed;
    top: 0px;
    z-index: 10;
  }

  #drawer-toggle {
    position: absolute;
    opacity: 0;
    z-index: 15;
  }

  #drawer-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, .0);
    z-index: 20;

    &:hover {
      cursor: pointer;
    }
  }

  #drawer-toggle-label:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #fff;
    left: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
  }

  #drawer {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background: #C14343;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    @include transition(all .25s ease-in-out);
  }

  /* checked styles (menu open state) */

  #drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100vh;
    width: calc(100% - 300px);
    background: rgba(255, 255, 255, .5);
    /*position: relative;*/
    z-index: 100;
  }

  #drawer-toggle:checked ~ #drawer-toggle-label,
  #drawer-toggle:checked ~ header {
    left: 300px;
  }

  #drawer-toggle:checked ~ #drawer {
    left: 0px;
  }

  #drawer-toggle:checked ~ #page-content {
    margin-left: 300px;
  }

  .menu-active ~ .main-content {
    margin-left: 300px;
    min-width: 100%;
  }

  .menu-list {
    margin: 0px;
    /*padding: 0px 20px;*/

    h2 {
      margin: 0px 20px;
      color: #fff;
      height: 50px;
      display: block;
      line-height: 50px;
    }

    li {

      ul {
        background: $fed-light-gray;
        overflow: hidden;
        @include box-shadow(inset, 0, 0, 2px, $fed-gray);

        li {
          padding: 10px 20px;
          border-bottom: 1px solid $fed-light-blue-gray;

          a {
            display: block;
            text-decoration: none;
            color: $fed-gray;
          }
        }
      }
    }
  }
</style>
