<template>
  <div class="question-holder">
    <div class="container-margined">
      <h1 class="question-name">{{questionItem.template.name}}</h1>
    </div>
    <div class="tip-image-holder" v-if="questionItem.template.tip">
      <img :src="questionItem.template.image_url" alt="img" class="tip-image" v-if="questionItem.template.image_url">
      <div class="tip-text">{{questionItem.template.tip}}</div>
    </div>
    <div class="container-margined">
      <ul class="buttons">
        <li v-for="(choice, index) in questionItem.choices" :class="{'selected' : selectedId == choice.id}">

          <!-- FOR DISPLAY TYPE BUTTON -->
          <div v-if="choice.template.display == 'button'" @click="getNextId(choice.next_question_id, choice.id)" class="button-content">
            <img name="check" src="../assets/images/check.png" class="icon-check"/>
            <div :class="{'no-desc' : choice.template.description == '' || choice.template.description == null}">
              <h2>{{choice.template.text}}</h2>
              <p>{{choice.template.description}}</p>
            </div>
          </div>

          <!-- FOR DISPLAY TYPE TEXT -->
          <div v-if="choice.template.display == 'time'" class="button-content">
            <img name="check" src="../assets/images/check.png" class="icon-check"/>
            <div>
              <h2>{{choice.template.text}}</h2>
              <form class="clearfix" v-model="form">
                <input type="time" v-model="form[questionItem.template.short_name]" placeholder="HH:mm">
                <input type="button" value="OK" @click="getNextId(choice.next_question_id, choice.id, questionItem.template.short_name, form[questionItem.template.short_name])">
              </form>
              <p>{{ $t('TIME_INPUT_WARNING') }}</p>
            </div>
          </div>

          <!-- FOR DISPLAY TYPE TIME -->
          <div v-if="choice.template.display == 'text'" class="button-content">
            <img name="check" src="../assets/images/check.png" class="icon-check"/>
            <div>
              <h2>{{choice.template.text}}</h2>
              <form class="clearfix" v-model="form">
                <input type="text" v-model="form[questionItem.template.short_name]" placeholder="Answer">
                <input type="button" value="OK" @click="getNextId(choice.next_question_id, choice.id, questionItem.template.short_name, form[questionItem.template.short_name])">
              </form>
            </div>
          </div>

          <!-- FOR DISPLAY TYPE NUMBER -->
          <div v-if="choice.template.display == 'number'" class="button-content">
            <img name="check" src="../assets/images/check.png" class="icon-check"/>
            <div>
              <h2>{{choice.template.text}}</h2>
              <form class="clearfix" v-model="form">
                <input type="number" v-model="form[questionItem.template.short_name]" placeholder="Number">
                <input type="button" value="OK" @click="getNextId(choice.next_question_id, choice.id, questionItem.template.short_name, form[questionItem.template.short_name])">
              </form>
            </div>
          </div>

          <!-- FOR DISPLAY TYPE CHECK/MULTI -->
          <div v-if="choice.template.display == 'multior' || choice.template.display == 'multi'" class="button-content">
            <div class="checkbox-holder">
              <form class="clearfix" v-model="form">
                <input type="checkbox" :id="'choice_' + choice.id" v-model="form[questionItem.template.short_name]"/>
                <label :for="'choice_' + choice.id">{{choice.template.text}}</label>
              </form>
            </div>
          </div>

          <!-- FOR DISPLAY TYPE HIDDEN -->
          <div v-if="choice.template.display == 'hidden' && index == 0" class="button-content">
            <div>
              <form class="clearfix" v-model="form">
                <input type="number" v-model="form[questionItem.template.short_name]" placeholder="Rate">
                <input type="button" value="OK" @click="getNextId(choice.next_question_id, choice.id, questionItem.template.short_name, form[questionItem.template.short_name])">
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Question',
    props: ['questionItem', 'selectedId'],
    data () {
      return {
        form: {
        }
      }
    },
    methods: {
      getNextId(id, answerId, field, answer) {
        this.$emit('clicked', id, answerId, field, answer)
      }
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  .question-holder {
    .container-margined {
      margin: 2.5%;
      min-width: 95vw;
    }
  }

  .question-name {
    text-align: center;
  }

  .tip-image-holder {
    min-width: 100vw;
  }

  ul.buttons {
    li {
      .button-content {
        display: block;
        border: 0.5px solid $fed-blue-gray;
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
        background-color: #fff !important;
        @include box-shadow(1px, 1px, 3px, rgba(87, 78, 78, 0.3));

        h2 {
          margin: 0px;
          padding: 10px 20px 5px;
          display: block;
          border-bottom: 1px solid #E7EBF3;
          font-size: 20px;
          min-height: 40px;
        }

        p {
          padding: 0px 20px;
          font-size: 14px;
        }

        form {
          margin-bottom: 15px;
        }

        input[type=text], input[type=time], input[type=number] {
          margin: 15px 5px 0px 20px;
          padding: 0px 10px;
          border: 0.5px solid $fed-blue-gray;
          height: 40px;
          width: 255px;
          display: inline-block;
          float: left;
          font-size: 24px;
          font-family: 'Raleway', sans-serif;
        }

        input[type=button] {
          margin-top: 15px;
          border: 0.5px solid $fed-blue-gray;
          background: $fed-blue-gray;
          color: #fff;
          height: 40px;
          width: 60px;
          display: block;
          float: left;
          font-weight: 700;
        }

        >div {
          height: 100%;
          width: 98%;
          min-height: 90px;
          margin: 0 auto;

          &.no-desc, &.checkbox-holder {
            min-height: 40px;
            display: flex;
            align-items: center;
            /*justify-content: center;*/

            h2 {
              border-bottom: 0px solid #E7EBF3;
              padding: 10px 20px;
            }

            .icon-check {
              top: 50%;
              margin-top: -11px;
            }
          }

          &.checkbox-holder {
            form {
              margin-bottom: 0px;
              width: 100%;

              [type="checkbox"]:not(:checked),
              [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
              }
              [type="checkbox"]:not(:checked) + label,
              [type="checkbox"]:checked + label {
                font-family: 'Oswald', sans-serif, 'Mplus 1p';
                position: relative;
                cursor: pointer;
                margin: 0px;
                padding: 20px 20px 20px 60px;
                display: block;
                font-size: 20px;
                min-height: 40px;
                width: 100%;
                color: $fed-blue-gray;
              }
              /* checkbox aspect */
              [type="checkbox"]:not(:checked) + label:before,
              [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 15px; top: 50%;
                margin-top: -15px;
                width: 30px; height: 30px;
                border: 2px solid $fed-blue-gray;
                background: #fff;
              }
              [type="checkbox"]:checked + label:before {
                background-color: $fed-blue-gray;
              }
              /* checked mark aspect */
              [type="checkbox"]:not(:checked) + label:after,
              [type="checkbox"]:checked + label:after {
                content: '✔';
                position: absolute;
                left: 17px; top: 50%;
                margin-top: -13px;
                font-size: 1.3em;
                color: #fff;
                transition: all .2s;
                line-height: 30px;
                display: block;
                width: 30px; height: 30px;
                text-align: center;
              }
              /* checked mark aspect changes */
              [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
              }
              [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
              }
              /* disabled checkbox */
              [type="checkbox"]:disabled:not(:checked) + label:before,
              [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
              }
              [type="checkbox"]:disabled:checked + label:after {
                color: #999;
              }
              [type="checkbox"]:disabled + label {
                color: #aaa;
              }
            }
          }
        }
      }

      .icon-check {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 23px;
        height: 23px;
        visibility: hidden;
      }

      /*&:hover{
        background-color: $fed-light-gray;
        cursor: pointer;
      }*/

      &.selected {
        background-color: $fed-light-gray !important;
        .icon-check {
          visibility: visible;
        }
      }
    }
  }
</style>