<template>
  <div class="settings-panel">
    <h2>{{ $t('SETTINGS') }}</h2>
    <div class="language-options">
      <h3>{{ $t('LANGUAGE') }}</h3>
      <a v-bind:class="{'selected' : this.$locale.current() == 'en'}" type="secondary" @click="changeLang('en')">
        EN
      </a>
      <a v-bind:class="{'selected' : this.$locale.current() == 'pt'}" type="secondary" @click="changeLang('pt')">
        PT
      </a>
      <a v-bind:class="{'selected' : this.$locale.current() == 'ja'}" type="secondary" @click="changeLang('ja')">
        JA
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Settings',
    data () {
      return {

      }
    },
    methods: {
      changeLang: function(newLang){
        this.$locale.change(newLang)
      }
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";

  .language-options {
    a {
      color: $fed-red;
      font-weight: 600;
      display: inline-block;
      width: 50px;
      height: 20px;
      text-align: center;
      line-height: 20px;


      &.selected {
        color: #fff;
        background-color: $fed-red;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .settings-panel {
    h2 {
      padding: 0 20px;
      color: #fff;
      height: 50px;
      margin: 0px;
      line-height: 50px;
    }

    .language-options {
      background: $fed-light-gray;
      padding: 5px 20px 10px;
      @include box-shadow(inset, 0, 0, 2px, $fed-gray);

      h3 {
        font-size: 14px;
        padding: 0px;
        margin: 0px 0px 5px;
      }
    }
  }
</style>