<template>
  <div class="style-guide">
    <div class="container-margined">
      <h1>Heading/Question Font - Oswald Regular</h1>
      <p>Body Font - Raleway Semibold</p>
    </div>
    <Settings></settings>
    <!-- <Flow>
      <Question></Question>
    </Flow> -->
      <!-- <ul class="buttons">
        <li>
          <h2>No Weakness</h2>
          <icon name="check" scale="20" style="color: #05CE7C;" class="icon-check"></icon>
          <svgicon icon="icon-check"></svgicon>
          <icon width="23" height="23" :glyph="Check" class=""></icon>
          <p>Both arms remain up > 10 seconds or slowly drift down equally.</p>
        </li>
        <li class="selected">
          <h2>No Weakness</h2>
          <p>Both arms remain up > 10 seconds or slowly drift down equally.</p>
        </li>
        <li>
          <h2>Hospital Name</h2>
          <form class="clearfix">
            <input type="text" name="hospital_name" placeholder="Answer">
            <input type="button" value="OK">
          </form>
          <p>Please leave it blank if unknown.</p>
        </li>
        <li>
          <h2>Yes, enter time</h2>
          <form class="clearfix">
            <input type="time" name="hospital_name" placeholder="HH:mm">
            <input type="button" value="OK">
          </form>
          <p>Please leave it blank if unknown.</p>
        </li>
      </ul> -->
    <button type="button" class="start-button">
      <span>{{ $t('START') }}</span>
    </button>
  </div>
</template>

<script>
  import Settings from './Settings'
  import Question from './Question'
  export default {
    name: 'styleGuide',
    components: {
      Settings,
      Question
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  $start-button-size: 150px;

  .start-button {
    -webkit-justify-content: space-around;
    height: $start-button-size;
    width: $start-button-size;
    border-radius: $start-button-size;
    background-color: $fed-red;
    position: relative;
    border: 2px solid $fed-purple-gray;
    padding: 0px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:after {
      content: "";
      width: ($start-button-size)-20;
      height: ($start-button-size)-20;
      border-radius: $start-button-size;
      position: absolute;
      left: ($start-button-size/2)-2;
      top: ($start-button-size/2)-2;
      margin-top: -(($start-button-size)-20)/2;
      margin-left: -(($start-button-size)-20)/2;
      background-color: #C14343;
      z-index: 5;
    }

    span {
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: 'Oswald', sans-serif, 'Mplus 1p';
      position: absolute;
      font-size: 36px;
      color: #fff;
      width: 100%;
      z-index: 10;
      height: $start-button-size;
      line-height: $start-button-size;
    }

    &:hover {
      cursor: pointer;
      background-color: #C14343;

      &:after {
        background-color: #AA3E3E;
      }
    }

    &:active {
      @include box-shadow(inset, 0, 0, 10px, #000000);

      &:after {
        @include transition(all .25s ease-in-out);
        opacity: 0.5;
        width: $start-button-size;
        height: $start-button-size;
        top: 0;
        left: 0;
        margin-top: 0px;
        margin-left: 0px;
      }
    }
  }
</style>
