<template>
  <div id="app">
    <main_menu></main_menu>
    <div class="main-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import main_menu from './components/Menu'
  export default {
    name: 'app',
    components: {
      main_menu
    }
  }
</script>

<style lang='scss'>
  @import "./src/assets/scss/main.scss";
  * {
    outline: none;
    @include box-sizing(border-box);
  }

  body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
  }

  #app {
    font-family: 'Raleway', sans-serif, 'Mplus 1p';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $fed-gray;
    height: 100vh;
    overflow: hidden;

    .main-content {
      position: relative;
      margin-top: 50px;
      height: calc(100% - 50px);
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      @include transition(all .25s ease-in-out);

      > div {
        height: calc(100% - 50px);
      }
    }
  }

  h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: $fed-blue-gray;
  }

  p {
    font-weight: 600;
    color: $fed-gray;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: #42b983;
  }

  .container-margined {
    margin: 10px;
  }

  .tip-image-holder {
    min-height: 94px;
    background-color: $fed-purple-gray;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 10px;

    .tip {
      width: auto;
    }

    img {
      max-width: 94px;
      height: 94px;
      display: block;
    }

    .tip-text {
      font-size: 12px;
      color: #fff;
      background: rgba(0, 0, 0, .2);
      padding: 10px;
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
